
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module p:last-child {
  margin-bottom: 0;
}
section.module h2 {
  padding-top: 8px;
  margin-bottom: 12px;
  font-size: 48px;
}
section.module.content {
  padding: 5px 0;
  text-align: center;
  margin-bottom: 40px;
}
section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-1 {
  height: 100%;
  background-image: url("../img/tracks.jpg");
}
section.module.parallax-2 {
  height: 50%;
  background-image: url("../img/train.jpg");
}
section.module.parallax-3 {
  height: 50%;
  background-image: url("../img/internet.png");
}



@media(max-width:767px) {
section.module.parallax-1 {
  height: 66%;
  background-color: #2d2d2d;
  background-image:none;
}
section.module h2{
  font-size: 36px;
}
section.module.parallax-2 {
  height: 68px;
  background-color: #000000;
  background-image: none;;
}
section.module.parallax-3 {
  height: 40%;
  background-color: #000000;
  background-image: none;;
}

}



