
/*!
Custom CSS
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3d3d3d;
  text-decoration: none;
}
a:focus {
  outline: none;
  outline: none;
  outline-offset: none;
}

.intro-header {
    padding-top: 24px; /* If you're making other pages, make sure there is 36px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;*/
}

.intro-header h3 {
    margin-bottom: 72px;
}



.teampic {
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    }

.kilton {
    background: url(../img/kilton.jpg) no-repeat;
}

.param {
    background: url(../img/param.jpg) no-repeat;
    }

.josh{
    background: url(../img/josh.jpg) no-repeat;
    }

.jordan {
    background: url(../img/jordan.jpg) no-repeat;
    }




.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;

}

.intro-message > h1 {
    margin: 0;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 8em;
    font-weight: 300;
    padding-bottom: 0px;
}


.intro-message > h3 {
    font-size: 3em;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.intro-message > a {
    color: #f2f2f2;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .intro-message > h3 {
        font-size: 1.5em;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .intro-divider {
        width: 100%;
    }
}

.navbar-default {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  height: 68px;
  border-bottom: 0px;
  color: #f2f2f2;
  background-color: transparent;
}


.navplace {
    display: block;
    height: 67px;
    margin-top:-67px;
}

.navbar-collapse {
  background: none;
}


.banner {
    padding: 100px 0;
    color: #f2f2f2;
    /*background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;*/
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

.container {
    width:80%;
}

.member {
    margin-bottom: 48px;
}


@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-header h3 {
    margin-bottom: 0px;
    }

    .intro-message > h1 {
    padding-bottom: 0px;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.smoothScroll {
    padding-top: 64px;
}

